<div class=" back">
    <br>
    <br><br>
    <br>
  <div class="container bg-light set">
    <div class="row">
      <div class=" d-none d-sm-block col-sm-6 col-md-6 col-lg-6 col-xl-6 " >
        <img src="assets/meeting.jpg">
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 ">
        <br><br>
         <h2><b>To-Do List</b></h2>
         <br>
         <p class="text-muted">your account has been created.</p>
         <p class="text-muted">we have provided verification link on your registered email plz verify your account.</p>
        <button class="btn btn-link format" (click)='goToHome()' ><h5><b>Go Home</b></h5></button>
            
      </div>
    </div>
     
         </div>
        </div>